<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keeprecipe.android">

    <!-- This permission is necessary in order to use internet functionality -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- This permission is necessary in order to verify network connectivity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- This permission is necessary in order to vibrate the phone when validating input for Add Recipe Activity  -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.keeprecipe.android.RecipeMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.keeprecipe.android.RecipeDetailsActivity"
            android:parentActivityName="com.keeprecipe.android.RecipeMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:taskAffinity=""
            android:excludeFromRecents="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.keeprecipe.android.RecipeMainActivity" />
        </activity>

        <activity
            android:name="com.keeprecipe.android.RecipeAddActivity"
            android:parentActivityName="com.keeprecipe.android.RecipeMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.keeprecipe.android.RecipeMainActivity" />
        </activity>

        <receiver android:name="com.keeprecipe.android.RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_provider" />
        </receiver>

        <provider
            android:name="com.keeprecipe.android.data.RecipeContentProvider"
            android:authorities="com.keeprecipe.android"
            android:exported="true" />

        <service android:name="com.keeprecipe.android.RecipeDataService" />

    </application>

</manifest>